<img src="https://meetingzero-assets.s3.us-west-1.amazonaws.com/logo.jpg" style="display: block; width: 100%; max-width: 100px; margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 20px;" />

<p>
  <%= @user.first_name %>,
</p>

<p>
  Someone requested that the password for your MeetingZero account be reset.
</p>

<p>
  <a href="<%= Rails.application.credentials.web_app_url %>/reset-password?token=<%= @user.password_reset_token %>&email=<%= @user.email %>" style="display: block; width: 100%; background-color: #3F4089; padding: 20px; color: #FFF; text-align: center; text-decoration: none; box-sizing: border-box;">Click here to reset your password</a>
</p>

<p>
  If you didn’t request this, ignore this email or reply and we can get this sorted out. Otherwise, reset your password using the above link. For your security, this link expires in one hour.
</p>

<p>
  Thanks,
</p>

<p>
  The MeetingZero Team
</p>