<img src="https://meetingzero-assets.s3.us-west-1.amazonaws.com/logo.jpg" style="display: block; width: 100%; max-width: 100px; margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 20px;" />

<p>
  <%= @user.first_name %>,
</p>

<p>
  Thank you for using MeetingZero! In an effort to serve you better we have prepared a short survey for you to provide feedback on your experience. Please click on the link below to start the survey.
</p>

<p>
  <strong>Workshop Topic:</strong> <%= @workshop.purpose %>
</p>

<p>
  <a href="https://forms.gle/SKG9yC8v8yv5ofUq8" style="display: block; width: 100%; background-color: #3F4089; padding: 20px; color: #FFF; text-align: center; text-decoration: none; box-sizing: border-box;">Click here to provide your feedback</a>
</p>

<p>
  Thanks,
</p>

<p>
  The MeetingZero Team
</p>